* {
  margin: 0;
  box-sizing: border-box;
}

body {
  padding-left: 20px;
  color: #272424;
  font-family: system-ui, -apple-system, "Segoe UI", "Open Sans",
    "Helvetica Neue", sans-serif;
}

img {
  height: auto;
}

h3 {
  text-align: center;
  padding-top: 20px;
  padding-bottom: 10px;
  font-size: 20px;
}

h4 {
  font-size: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
}

ul,
ol {
  list-style: square;
  font-family: Georgia, Times, serif;
}

p {
  text-align: left;
  margin: auto;
  width: 40rem;
  font-size: 18px;
  font-family: Georgia, Times, serif;
}

ul.center li,
ol.center li {
  font-size: 17px;
}

ul.center li {
  list-style: circle;
}

ol.center li {
  list-style: decimal;
}

#main-title,
#page-title {
  font-size: 1.75rem;
  padding-top: 30px;
  padding-bottom: 20px;
  color: #1c1b1b;
}

#page-title {
  width: 80rem;
  margin: auto;
  display: block;
}

.recipe-name {
  padding-bottom: 20px;
  padding-top: 10px;
  font-family: monospace;
  font-size: 1.3rem;
}

.recipe-list {
  font-size: 1.3rem;
  padding: 1.5px;
}

.recipe-link {
  text-decoration: none;
  color: #1f1e1e;
}

.center {
  width: 40rem;
  margin: auto;
  display: block;
}

img.center {
  width: 30rem;
}
