* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #f3f4f4;
}

img {
  border-radius: 25px;
  object-fit: cover;
  padding: 10px;
  width: 100%;
}

h1 {
  color: #f3f4f4;
}

h2 {
  color: #1d546d;
}

h3 {
  color: #f3f4f4;
  background-color: #5f9598;
  text-align: center;
  margin: 0 10px;
}

.header-container,
.title-container,
.photo-grid-container {
  display: flex;
  justify-content: center;
}

.header {
  background-color: #5f9598;
  padding: 20px;
  width: 900px;
}

.main-grid-container {
  display: flex;
  flex-direction: column;
}

.title {
  padding: 10px 20px;
  width: 900px;
}

.photo-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
  padding: 5px 20px;
  width: 900px;
}

.photo-grid-item {
  flex: 1;
}
